
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,300;1,600;1,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.heading{
    background-color: blueviolet;
}
.content{
    margin: auto;
    width: 90%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h2{
    font-family: 'Pacifico', cursive;;
}
.nav > ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.nav > ul > a > li{
    padding: 10px 20px;

}
.nav > ul > a{
    text-decoration: none;
}